html {

}
body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: white;
    color: #222222;
    font-family: Arial, sans-serif;
}
p
{
    font-size: 1.2em;
}
p:nth-child(1)
{
    font-size: 1.3em;
    color: #000000;
}
.photograph
{
    margin: 1em;
    padding: 1em;
    border: 1px #eeeeee solid;
    box-shadow: 10px 10px 5px #dddddd;
}
table caption {
  font-size: 24pt;
}
.table caption {
    text-align: left;
}
.hide-show-button {
    font-size: 12pt !important;
}